{
  "extends": "stylelint-config-sass-guidelines",
  "rules": {
    "order/properties-alphabetical-order": null, 
	  "order/properties-order": 
    [
	  	"display",
	  	"overflow",
	  	"float",
	  	"position",
		"left",
		"right",
		"top",
		"bottom",
	  	"width",
	  	"height",
	  	"margin",
	  	"padding",
	  	"border",
	  	"background",
	  	"color",
	"font",
	  	"animation",
	  ]
  }
}
