.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #eee;
}

.icon {
  display: block;
  width: 96px;
  height: 96px;
  margin-bottom: 24px;
  border: 1px solid #a18aff;
  border-radius: 50%;
  text-align: center;
}
