.canvas {
  position: absolute;
}

.section {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
  cursor: crosshair;
}

.container {
  width: 100%;
  height: 100%;
}

.buttons {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 16px;
  bottom: 8px;
}
