* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Spoqa Han Sans Neo', sans-serif;
  font-size: 100%;
  line-height: 1.8;
}

body {
  font-family: 'Spoqa Han Sans Neo', sans-serif;
  font-size: 100%;
}
